/* Resetting browser default styles */
header, hgroup, nav, section, article, aside, footer, figure, figcaption, details, summary {
  display: block;
}

html, body, figure, dt, dd, li, form, fieldset, legend, input, select, textarea, button {
  padding: 0;
  margin: 0 auto;
}

p, ul, ol, dl, table, blockquote {
  padding: 0;
  margin: 0 0 1.5em;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
}

fieldset {
  border: 0;
}
/*<-End of resets*/

body {
  
  font-family: 'Times New Roman';
  
}

body {
  width: 70%;
  margin:  40px 50px 0 auto;
  padding: 0 50px 0 0;
 
}

li{	
	margin:  0 auto 0 auto;	
	padding: 25px 10px 0 0;
	
}

button {
	margin: 15px 30px 0 0;
	width: 160px;
	height: 40px;
}

.remove {
	width: 100px;
	height: 30px;
}

.checkout {
	display: none;
}

.singlecheck {
	margin: 0 5px 0 0;
}